{% extends "base.html" %}

{% block title %}500 - Server Error{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <div class="mt-5 mb-5">
            <h1 class="display-1">500</h1>
            <h2>Internal Server Error</h2>
            <p class="lead">Something went wrong on our end. Please try again later.</p>
            <p>If the problem persists, please check the application logs for more information.</p>
            <a href="{{ url_for('tasks.index') }}" class="btn btn-primary mt-3">
                <i class="fa fa-home"></i> Return to Dashboard
            </a>
        </div>
    </div>
</div>
{% endblock %} 